apiVersion: apps/v1
kind: Deployment
metadata:
  name: commafeed
spec:
  replicas: 1

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1

  selector:
    matchLabels:
      app: commafeed

  template:
    metadata:
      labels:
        app: commafeed
        network-policy-type: app

    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 3000
        fsGroup: 2000

      containers:
        - name: commafeed
          image: athou/commafeed:5.12.1-postgresql

          resources:
            requests:
              memory: 150Mi
            limits:
              memory: 250Mi

          securityContext:
            allowPrivilegeEscalation: false

          envFrom:
            - configMapRef:
                name: commafeed-configmap
            - secretRef:
                name: commafeed-app-secrets

          ports:
            - containerPort: 8082
              protocol: TCP
