expose:
  type: loadBalancer
  tls:
    enabled: true
    certSource: secret
    secret:
      secretName: harbor-tls

externalURL: https://harbor.bde-dev.net

persistence:
  enabled: true
  resourcePolicy: "keep"
  persistentVolumeClaim:
    registry:
      storageClass: "local-path"
      accessMode: ReadWriteOnce
      size: 350Gi
    jobservice:
      jobLog:
        storageClass: "local-path"
        accessMode: ReadWriteOnce
        size: 1Gi
    database:
      storageClass: "local-path"
      accessMode: ReadWriteOnce
      size: 1Gi
    redis:
      storageClass: "local-path"
      accessMode: ReadWriteOnce
      size: 1Gi
    trivy:
      storageClass: "local-path"
      accessMode: ReadWriteOnce
      size: 5Gi

existingSecretAdminPassword: harbor-admin-secrets
existingSecretAdminPasswordKey: HARBOR_ADMIN_PASSWORD

metrics:
  enabled: true

  serviceMonitor:
    enabled: true

trace:
  enabled: false
  provider: otel
  otel:
    endpoint: hostname:4318
    url_path: /v1/traces
    compression: false
    insecure: true
    timeout: 10

nginx:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 200m
      memory: 128Mi

portal:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 200m
      memory: 128Mi

core:
  resources:
    requests:
      cpu: 20m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 256Mi

jobservice:
  resources:
    requests:
      cpu: 20m
      memory: 64Mi
    limits:
      cpu: 500m
      memory: 256Mi

registry:
  resources:
    requests:
      cpu: 20m
      memory: 64Mi
    limits:
      cpu: 500m
      memory: 256Mi

trivy:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 500m
      memory: 512Mi

database:
  resources:
    requests:
      cpu: 20m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 256Mi

redis:
  resources:
    requests:
      cpu: 10m
      memory: 16Mi
    limits:
      cpu: 200m
      memory: 128Mi

exporter:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 200m
      memory: 128Mi
