global:
  imageRegistry: "harbor.bde-dev.net"
  imagePullSecrets:
    - name: harbor-registry-creds

alertmanager:
  enabled: false

grafana:
  image:
    repository: dockerhub-proxy/grafana/grafana
  sidecar:
    image:
      repository: quay-proxy/kiwigrid/k8s-sidecar
    datasources:
      restartPolicy: Always
    dashboards:
      enabled: true
      label: grafana_dashboard
      labelValues: "1"

  admin:
    existingSecret: "grafana-admin-secrets"

kube-state-metrics:
  image:
    repository: k8s-proxy/kube-state-metrics/kube-state-metrics

prometheus-node-exporter:
  image:
    repository: quay-proxy/prometheus/node-exporter

prometheusOperator:
  image:
    repository: quay-proxy/prometheus-operator/prometheus-operator
  prometheusConfigReloader:
    image:
      repository: quay-proxy/prometheus-operator/prometheus-config-reloader
  admissionWebhooks:
    patch:
      image:
        repository: ghcr-proxy/jkroepke/kube-webhook-certgen
        tag: 1.7.3

prometheus:
  prometheusSpec:
    image:
      repository: quay-proxy/prometheus/prometheus
    # Discover all PodMonitors, Probes, PrometheusRules and ServiceMonitors
    podMonitorSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false
    ruleSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
