global:
  imageRegistry: "harbor.bde-dev.net"
  imagePullSecrets:
    - name: harbor-registry-creds

alertmanager:
  enabled: false

grafana:
  sidecar:
    dashboards:
      enabled: true
      label: grafana_dashboard
      labelValues: "1"

  admin:
    existingSecret: "grafana-admin-secrets"

prometheusOperator:
  admissionWebhooks:
    patch:
      image:
        repository: ghcr-proxy/jkroepke/kube-webhook-certgen
        tag: v1.7.3

prometheus:
  prometheusSpec:
    # Discover all PodMonitors, Probes, PrometheusRules and ServiceMonitors
    podMonitorSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false
    ruleSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
